@font-face {
    font-family: "CustomFont1";
    src: url("../fonts/Font1.woff2") format("woff2");
    font-family: "CustomFont2";
    src: url("../fonts/Font2.woff2") format("woff2");
    font-family: "CustomFont3";
    src: url("../fonts/Font3.woff2") format("woff2");
    font-family: "font_1";
    src: url("../fonts/font_2.woff2") format("woff2");
}

body {
    position: static;
    overflow-x: auto;
    overflow-y: scroll;
    font-family: 'CustomFont1',Helvetica,sans-serif;
    font-size: 10px;
    height: 100%;
    display: block;
    flex-direction: column;
}

.contact_main {
    position: relative;
    height: 979px;
    width: 100%;
    min-width: 980px;
    background-color: rgba(230,218,206,255);
}

#container_sections {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 924px;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
}

#contact_section {
    position: relative;
    left: 0;
    width: auto;
    min-width: 980px;
    --firstChildMarginTop: -1px;
    --lastChildMarginBottom: -1px;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    display: flex;
}

#contact_grid {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;
}

#contact_square {
    position: relative;
    margin: 132px 0px 10px 0px;
    left: 401px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    height: 20px;
    width: 20px;
    background-color: #0050ff;
}

#contact_word {
    position: relative;
    margin: 125px 0px 10px 0px;
    left: 428px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    --min-height: 35px;
    height: auto;
    width: auto;
    line-height: 0.95em;
    font-family: 'CustomFont3';
    font-size: 35px;
    font-weight: bold;
    min-height: var(--min-height);
    min-width: var(--min-width);
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: start;
}

.space_box {
    position: relative;
    height: 64px;
    grid-area: 2 / 1 / 3 / 2;
}

.shadow {
    background-color: white;
    bottom: 0;
    box-shadow: -5px 10px 40px 3px rgba(0,0,0,.13);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.fill_contacts {
    position: relative;
    margin: 0px 0px 50px 0px;    
    left: 150px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
    width: 679px;
    height: 695px;
}

.fill_grid {
    position: static;
    height: auto;
    width: 100%px;    
    min-height: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

#fill_form {
    position: relative;
    height: auto;
    width: 603px;
    left: 38px;
    margin: 56px 0px 64px 0;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

.fill-grid {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 575px;
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-template-columns: 100%;
}

.firstname_box,
.lastname_box,
.email_box,
.subject_box,
.msg_box {
    position: relative;
    left: 30px;
    justify-self: start;
    align-self: start;
    display: flex;
    flex-direction: column;
    min-height: 25px;
    font-size: 14px;
    font-weight: bold;
}

.firstname_box label,
.lastname_box label,
.email_box label,
.subject_box label,
.msg_box label {
    height: 14px;
    margin-bottom: 9px;
    line-height: 1;
    font-family: 'font_1';
}

.firstname_box input,
.lastname_box input,
.email_box input,
.subject_box input,
.msg_box textarea {
    height: 40px;
    outline: 0;
    padding: 3px 3px 3px 15px;
    border-style: none none solid none;
    border-bottom-width: 2px;
    border-bottom-color: rgba(92,87,82,255);
    color: rgba(0,80,255,255);
    font-family: 'font_1';
    font-weight: bold;
    font-size: 14px;
}

.firstname_box input:hover,
.lastname_box input:hover,
.email_box input:hover,
.subject_box input:hover,
.msg_box textarea:hover,
.firstname_box input:focus,
.lastname_box input:focus,
.email_box input:focus,
.subject_box input:focus,
.msg_box textarea:focus {
    border-bottom-width: 3px;
    border-bottom-color: rgba(0,80,255,255);
    line-height: 1.4em;
}

.firstname_box label::after,
.lastname_box label::after,
.email_box label::after {
    content: " *";
    color: rgba(28,99,255,255);
}

.firstname_box {
    width: 250px;
    margin: 6px 0px 64px 0;
    grid-area: 1 / 1 / 2 / 2;
}

.lastname_box {
    width: 247px;
    left: 318px;
    margin: 6px 0px 64px 0;
    grid-area: 1 / 1 / 2 / 2;
}

.email_box {
    width: 533px;
    margin: 0px 0px 30px 0;
    grid-area: 2 / 1 / 3 / 2;
}

.subject_box {
    width: 533px;
    margin: 0px 0px 32px 0;
    grid-area: 3 / 1 / 4 / 2;
}

.msg_box {
    width: 533px;
    margin: 0px 0px 14px 0;
    grid-area: 4 / 1 / 5 / 2;
    line-height: 1.4em;
}

.msg_box textarea {
    height: 100px;
    padding: 3px 10px 3px 15px;
    padding-top: 0.75em;
    resize: none;
}

.send_button {
    position: relative;
    margin: 0px 0px 10px 0;
    left: 30px;
    grid-area: 5 / 1 / 6 / 2;
    justify-self: start;
    align-self: start;

    width: 115px;
    height: 35px;
    background-color: rgba(0,80,255,255);
    color: white;
    border: 2px;
    border-style: solid;
    border-color: rgba(0,80,255,255);
    border-radius: 20px;
    text-decoration: none;
    font-family: 'font_1';
    font-size: 14px;
    font-weight: bold;
    transition: var(--trans1,color .4s ease 0s,background-color .4s ease 0s);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send_button:hover {
    color: black;
    background-color: white;
}