@font-face {
    font-family: "CustomFont1";
    src: url("../fonts/Font1.woff2") format("woff2");
    font-family: "CustomFont2";
    src: url("../fonts/Font2.woff2") format("woff2");
    font-family: "CustomFont3";
    src: url("../fonts/Font3.woff2") format("woff2");
}

#header_placeholder {
    position: relative;
    height: 126px;
    width: 100%;
}

.header {
    position: fixed;
    height: 126.4px;
    width: 100%;
    display: flex;
    margin: 0 auto 0 auto;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 2;
}

.header .logo {
    position: static;
    overflow: visible;
    height: auto;
    width: 50%;
    min-height: 126.4px;
    padding: 0 0 0 49px;
    display: grid;
    /* grid-template-rows: 100%; */
    grid-template-columns: fit-content(225px) fit-content(225px) fit-content(225px) fit-content(225px);
    justify-content: left;
    gap: 9px;
    font-size: 25px;
    color: black;
}

#my_name {
    position: relative;
    /* left: 74px; */
    margin: 41px 0px 48px 0px;
    /* grid-area: 1 / 2 / 2 / 3; */
    /* grid-area: 1 / 1 / 2 / 2; */
    /* justify-self: start; */
    /* align-self: start; */
}

#slash {
    position: relative;
    margin: 52px 0px 52px calc((100% - 490px) * 0);
    /* left: 250px; */ 
    /* left: 308.22px; */
    /* grid-area: 1 / 3 / 2 / 4; */
    /* grid-area: 1 / 1 / 2 / 2; */
    /* justify-self: start; */
    /* align-self: start; */
    font-family: 'CustomFont1';
    font-weight: lighter;
    font-size: 17px;
    color: black;
}

#function {
    position: relative;
    margin: 45px 0px 48px 0px;
    /* left: 322.52px; */
    /* grid-area: 1 / 4 / 2 / 5; */
    /* grid-area: 1 / 1 / 2 / 2; */
    /* justify-self: start; */
    /* align-self: start; */
}

#slash p {
    text-decoration: none;
}

#function a {
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0.02em;
    font-size: 17px;
    color: black;
}

#my_name a {
    cursor: pointer;
    font-family: 'CustomFont3';
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.header .nav_grid {
    position: static;
    overflow: visible;
    height: auto;
    width: 50%;
    min-height: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

#nav_bar {
    position: relative;
    left: 185px;
    width: 451px;
    height: 35px;
    margin: 54px 0px 48px 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    display: flex;
    flex-direction: column;
}

.navig {
    white-space: normal;
    text-align: right;
    list-style: none;
}

.navig li {
    width: auto;
    height: 35px;
    display: inline-block;
    list-style: none;
}

#nav1 {
    margin-right: -3.7px;
}

#nav2 {
    margin-right: -3.7px; 
}

#nav3 {
    margin-right: -3.9px; 
}

#nav4 {
    margin-right: 0.5px;
}

.navig li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.navig li a:hover {
    color: rgba(77, 133, 255, 255);
}

.navig li a p {
    padding: 0 12px 0 12px;
}

#blue_square {
    height: 16px;
    width: 16px;
    position: relative;
    /* left: 49px; */
    margin: 51px 0px 59px calc((100% - 490px) * 0);
    background-color: rgba(0,80,255,255);
    /* grid-area: 1 / 1 / 2 / 2; */
    /* justify-self: start; */
    /* align-self: start; */
}
