@font-face {
    font-family: "CustomFont2";
    src: url("../fonts/Font2.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CustomFont2', sans-serif;
}

.social_bar {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    white-space: nowrap;
    list-style: none;
    display: block;
    font-size: 0;
}

.social_bar li:not(:last-child) {
    display: var(--item-display);
    height: var(--item-size);
    margin: var(--item-margin);
    width: var(--item-size);
    vertical-align: baseline;
    text-align: -webkit-match-parent;
}

.social_bar li:last-child {
    display: var(--item-display);
    height: var(--item-size);
    width: var(--item-size);
    vertical-align: baseline;
    text-align: -webkit-match-parent;
}

.social_bar li a {
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.social_bar li a img {
    width: var(--item-size);
    height: var(--item-size);
    display: block;
    object-fit: cover;
}

.paragraph {
    --min-height: 175px;
    height: auto;
    width: 369px;
    justify-self: start;
    align-self: start;
    overflow-wrap: break-word;
    pointer-events: auto;
    text-align: start;

    line-height: 1.5em;
    font-size: 17px;
}
